* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none !important
}

ul {
    list-style: none;
}


/*Navbar & Language options*/
.navbar .nav-item .nav-link {
    color: black;
    font-size: 18px;
}

.btn-link {
    background-color: transparent;
    border-color: transparent;
    border: none;
    text-decoration: none !important    
}

  button:focus {
    outline: none !important
  }


  /*Images size gallery*/
.imgsize {
    width: 300px;
    height: 300px;
}

.imgsize2 {
    width: 300px;
    height: 300px;
}


h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}

/*Pages Sections*/


.servicios {
    margin-top: 60px;
}

.galeria {
    margin-top: 60px;
}

footer {
    margin-top: 60px;
    
}


.background {
    background: url(img/background.jpg);
    background-size: 100vw 100vh;
}